name: cov>90%
on:
  push:
    branches: [ main, v2, dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install '.[dev]'

    - name: Test coverage
      run: |
         test "$(make tests | sed -nEe 's/TOTAL.*[[:space:]]([[:digit:]]+)%/\1/p')" -ge 90
